.bingo {
  border-radius: 12px;
  border-radius: 5px;
  padding-bottom: 200px;
}

.bingo-board {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 55vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 2px;
  padding: 0 10px;
}

.bingo-board p {
  font-weight: bold;
  font-size: larger;
}

.bingo-title {
  background-color: rgb(254, 235, 235);
  font-weight: bold;
  font-size: xx-large;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 5px;
  font-family: titleFont;
  padding: 0 10px;
  height: 90px;
}

.word-box {
  background-color: #faf8f6;
  color: #5a86ad;

  font-size: clamp(7px, 2.1vw, 22px);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 10vh;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

  border: 1px solid #8a9a5b;
  border-radius: 5px;
  font-weight: 700;

  transition: 0.2s ease;
}

.word-box:hover {
  background: #f0f0f0;
}

.word-box.selected {
  background: #4caf50; /* green highlight */
  color: white;
  font-weight: bold;
}

.word-box .checkmark {
  position: absolute;
  bottom: 5px;
  right: 8px;
  font-size: 1.2rem;
  color: yellow;
}
