.fade-div {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  color: white;
}

.fade-div.visible {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.connections-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.connections-word {
  font-size: clamp(10px, 2vw, 22px);
  height: 100px;
  background-color: #efefe6;
  color: black;
  border-radius: 6px;
  margin: 3px;
  padding: 5px;
  font-weight: bold;

  transition: 0.2s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.connections-word.active {
  transition: 0.2s ease-in-out;
  background-color: #5a594e;
  color: white;
}

.correct-category-row {
  display: flex;
  flex-direction: column; /* Stack category label and words */
  justify-content: center;
  align-items: center;
  background-color: #4caf50; /* Example correct guess color */
  color: black;
  margin-bottom: 10px; /* Space between solved categories and remaining words */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  /* Add the animation */
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.category-label {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5px;
}

.category-words {
  font-size: 0.7em;
  opacity: 0.8;
}
