.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  min-width: 330px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: red;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.preview-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.preview-image {
  height: 200px;
  border-radius: 8px;
}

.preview-remove {
  position: absolute;
  top: -8px;
  right: -8px;
  border: none;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.preview-container {
  width: 100%;
  max-width: 100%;
  height: 350px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}

.preview-item {
  position: relative;
  width: 275px;
  height: 275px;
  flex: 0 0 auto;
  overflow: visible;
}

.preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.preview-item button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgb(220, 71, 45) !important;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.upload-btn {
  margin-top: 5px;
  padding: 8px 16px;
}

.file-input-wrapper {
  margin-top: 20px;
  text-align: center;
}

.file-label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4267b2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.image-grid {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.grid-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.grid-image.portrait {
  width: 150px;
  height: 200px;
}

.grid-image.landscape {
  width: 200px;
  height: 150px;
}

.fab-btn {
  border-radius: 100%;
  font-weight: bold;
  font-size: 150%;
  width: 60px;
  height: 60px;
  background-color: #4267b2;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
